<!DOCTYPE html>
{% load bootstrap5 %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Technology CLA</title>
  {% bootstrap_css %}
</head>

<body>
  <!-- Navbar -->
  {% block navbar %}
  {% endblock %}

  <!-- Secondary Navbar -->
  {% block secondNav %}
  {% endblock %}

  <!-- Side Navbar -->
  <div class="offcanvas offcanvas-end" id="sidenav" aria-labelledby="sidenavLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidenavLabel">All Collections</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        placeholder
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container mt-4">
    {% block content %}
    {% endblock %}
  </div>

  <!-- Footer -->
  <footer class="bg-dark text-light text-center py-4 mt-4">
    <p>Copyright &copy; 2025 Team B-06</p>
  </footer>

  {% bootstrap_javascript %}
</body>
</html>
