<!DOCTYPE html>
{% load bootstrap5 %}
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Technology CLA</title>
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'techCLA/styles.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">
  <!-- Navbar -->
  {% block navbar %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Navbar : Brand -->
      <a class="navbar-brand" href="{% url 'index' %}">Technology CLA</a>

      <!-- Search Bar -->
      <form class="d-flex flex-grow-1 mx-3" action="{% url 'index' %}">
        <input class="form-control w-100 me-2" type="search" placeholder="Search..." name="q" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
        <!-- TODO: add search functionality -->
      </form>

      <!-- Navbar : Sign in / Sign out -->
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item d-flex align-items-center">
            {% if user.is_authenticated %}
            <div class="d-flex align-items-center">
              <div class="nav-item dropdown me-3">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Hello, {{ user.role }} {{ user.get_full_name|default:user.username }}
                </a>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                  {% if user.profile.profile_picture and "default_profile" not in user.profile.profile_picture.url %}
                      <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" width="150" class="d-block mx-auto mb-2">
                  {% else %}
                      <p class="card-text">No profile picture available.</p>
                  {% endif %}
                  <li><span class="dropdown-item-text"><strong>Email:</strong> {{ user.email }}</span></li>
                  <li><span class="dropdown-item-text"><strong>Role:</strong> {{ user.role }}</span></li>
                  <a href="{% url 'update_profile' %}" class="rounded-0 btn">Change Profile</a>
                </ul>
                <!--TODO: add more for visible account details?-->
              </div>
              <a href="{% url 'account_logout' %}" class="btn btn-outline-dark">Sign Out</a>
            </div>
            {% else %}
              <a href="{% url 'account_login' %}" class="nav-link">
                Hello, Sign in
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}

  {% block secondNav %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="btn-group">
        <a class="rounded-0 border-0 btn btn-outline-light">Placeholder Category</a>
        <a class="rounded-0 border-0 btn btn-outline-light">Placeholder Category</a>
      </div>

      <div class="collapse navbar-collapse justify-content-end">
        <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidenav">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </nav>
  {% endblock %}

  {% block sideNav %}
  <div class="offcanvas offcanvas-end" id="sidenav" aria-labelledby="sidenavLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidenavLabel">All Collections</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        placeholder
      </div>
    </div>
  </div>
  {% endblock %}

  <!-- Page content -->
  <div class="container mt-4 content-area">
    {% block content %}
    {% endblock %}
  </div>

  <!-- Footer -->
  <footer class="bg-dark text-light text-center py-4 mt-auto">
    <p>Copyright &copy; 2025 Team B-06</p>
  </footer>

  {% bootstrap_javascript %}
</body>
</html>