{% extends "techCLA/base.html" %}


{% block secondNav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="btn-group">
      {% for collection in collections %}
        <a href="{% url 'collection_detail' collection.id %}" class="rounded-0 border-0 btn btn-outline-light">{{ collection.name }}</a>
      {% endfor %}
    </div>

    <div class="collapse navbar-collapse justify-content-end">
      <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidenav">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="mt-4">
  <!-- Welcome message -->
  <h2>{{ welcome }}</h2>

  <!-- Show user details -->
  {% if user.username %}
    <p class="lead">Logged in as: <strong>{{ user.username }}</strong> ({{ user.role }})</p>
  {% endif %}

  <!-- Main Content -->
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h4>Our Collections</h4>
      <p>This is where you can browse our collections and items.</p>

      <div class="pb-3">
        <a href="{% url 'catalog' %}" class="rounded-0 btn btn-outline-dark">View All Collections</a>
      </div>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for collection in collections %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="{% url 'collection_detail' collection.id %}" class="text-decoration-none text-dark">{{ collection.name }}</a>
                </h5>
                <p class="card-text">{{ collection.description }}</p>
                
                <div class="list-group">
                  {% for item in collection.items.all|slice:":2" %}
                    <a href="{% url 'item_detail' item.id %}" class="list-group-item list-group-item-action">
                      {{ item.name }}
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
